/target
/Cargo.lock
# any c files used to generate LLVM IR
/*.c
# any rs file used to generate LLVM IR
/*.rs
# any LLVM IR files used for exploration
/*.ll

/.vscode
# If the llvm-org libs are hosted in this directory, do not include them in the repo
/llvm*
# For debugging setting LUMINARY_WRITE_TEST_IR=1 will fill this directory with .ll files
/test-ir
*.out
/early_example.*
/ee
/ee.*
/public
.cargo/config.toml
/libluminary_runtime.*
/*.dll
/*.lib
